.ui-datepicker {
  width: 290px;
  padding: 0 0;
  margin-top: 15px;
  border-radius: 5px;
  z-index: 9999 !important;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}

.ui-datepicker::before {
  content: '';
  left: 20px;
  top: -10px;
  z-index: 9;
  position: absolute;
  border-collapse: inherit;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 10px solid #ffffff;
}

.ui-datepicker::after {
  content: '';
  left: 19px;
  top: -12px;
  position: absolute;
  border-collapse: inherit;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #d7d8da;
}

.ui-datepicker .ui-datepicker-title {
  font-size: 20px;
  color: #172e6f;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  width: 12px;
  height: 20px;
  margin-top: -7px;
  background-image: url("../img/prev-arrow.png");
}

.ui-datepicker .ui-datepicker-next span {
  background-image: url("../img/next-arrow.png");
}

.ui-datepicker table {
  width: calc(100% + 2px);
  margin: 0 -1px;
}

.ui-datepicker th {
  padding: 0 0;
  font-size: 16px;
  color: #9b9b9b;
  font-weight: 500;
}

.ui-datepicker td {
  padding: 0 0;
  border: 1px solid #d8d8d8 !important;
}

.ui-datepicker td.ui-datepicker-today {
  background-color: #172e6f;
}

.ui-datepicker td.ui-datepicker-current-day {
  background-color: #172e6f;
}

.ui-datepicker td span, .ui-datepicker td a {
  font-size: 16px;
  color: #172e6f;
  padding: 6px 0 0;
  text-align: center;
  position: relative;
}

.ui-datepicker td a:hover {
  color: inherit;
  text-decoration: none;
}

.ui-datepicker td.ui-datepicker-today span, .ui-datepicker td.ui-datepicker-today a,
.ui-datepicker td.ui-datepicker-current-day span, .ui-datepicker td.ui-datepicker-current-day a {
  color: #fff;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  cursor: url("../img/calendardisable.png"), pointer !important;
  filter: Alpha(Opacity=70);
  opacity: .7;
}

.ui-datepicker td a::before, .ui-datepicker td.ui-state-disabled span::before {
  content: 'Müsait';
  left: 0;
  top: -24px;
  width: 52px;
  color: #fff;
  z-index: 99999;
  font-size: 12px;
  font-weight: 400;
  padding-top: 3px;
  line-height: 20px;
  text-align: center;
  font-style: normal;
  position: absolute;
  border-radius: 3px;
  background-color: black;
  display: none;
}

.ui-datepicker td.jutdolus a::before {
  content: 'Geçmiş Tarih';
  width: 85px;
}

.ui-datepicker td.ui-state-disabled span::before {
  content: 'Geçmiş Tarih';
  width: 85px;
}

.ui-datepicker td a::after, .ui-datepicker td.ui-state-disabled span::after {
  content: "\f0d7";
  left: 7px;
  bottom: 20px;
  color: #000;
  position: absolute;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  display: none;
}

.ui-datepicker td:hover a::before, .ui-datepicker td:hover a::after,
.ui-datepicker td.ui-state-disabled:hover span::before, .ui-datepicker td.ui-state-disabled:hover span::after {
  display: block;
}