@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

/* DEFAULT */
body {
	margin: 0;
	padding: 0; 
	font-family: 'Poppins', sans-serif;
	background: #f7f9fb;
}

ul{
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}
 
a,a:hover{
	text-decoration: none;
}

p{
	margin: 0;
}

button:focus, button:active{
	outline: none;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

.bg-white{
	background: #FFF;
	padding: 30px 0px;
}

.all-villa a{
	border: 1px solid #172D6F;
    color: #172D6F;
    padding: 7px 30px;
    font-weight: 500;
    display: inline-block;
}

.all-villa a:hover{
	color: #FFF;
	background: #172D6F;
	transition: 0.5s all ease-in-out;
}

/* GENERAL */
@media (min-width: 1200px) {
	.container {
		max-width: 1300px;
	}
}
 
.top-about-box .top-about-inner {
	background: #FFF;
	box-shadow: 0 3px 12px 5px rgba(50, 51, 54, 0.2);
	padding: 50px 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.top-about-box .top-about-inner  p{
	color: #ae8da1;
	text-align: center;
	font-weight: 500;
}

.top-about-box .top-about-inner p:before{
	content: '';
    background: url(../img/quote-left.png);
    position: absolute;
    left: 0;
    top: -10px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

.top-about-box .top-about-inner p:after{
	content: '';
    background: url(../img/quote-right.png);
    position: absolute;
    right: 0;
	bottom: -45px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
}

.top-about-box .top-about-inner img{
	width: 100%;
}

.villa-top-header {
	background: #FFF;
	margin-top: 20px;
	padding-bottom: 20px;
}

.breadcrumb{
	margin: 0;
	padding:0;
	background: none;
	border-radius: 0;
	padding: 10px 0px;
}

.breadcrumb-item {
	display: flex;
	align-items: center;
}

.breadcrumb-item a {
	color: #172D6F;
	font-weight: 500;
}

.breadcrumb-item + .breadcrumb-item:before {
	content: url(../img/breadcrumb-arrow.png);
}

.bottom-about-box {
	margin-top: 20px;
	margin-bottom: 20px;
}

.bottom-about-box .inner-villa-text {
	background: #fff;
	box-shadow: 10px 10px 10px 0 rgba(50, 51, 54, 0.2);
	padding: 50px;
}

.bottom-about-box .inner-villa-text img {
	width: 50px;
	margin: 0 auto;
	display: table;
}

.bottom-about-box .inner-villa-text p {
	color: #172D6F;
	font-size: 16px;
    font-weight: 500;
	margin-top: 20px;
	text-align: center;
}

.bottom-about-box .about-site-name {
	font-size: 24px;
	font-weight: 500;
	color: #172d6f;
}

.bottom-menu {
	background: #FFF;
	padding: 20px 0px;
	margin-bottom: 20px;
}

.bottom-menu .container{
	max-width: 992px;
}

.bottom-menu img {
	margin: 0 auto;
	display: table;
	width: 90px;
}

.bottom-menu a {
	color: #172e6f;
	margin-top: 10px;
	display: inline-block;
	font-weight: 500;
	cursor: pointer;
}

.bottom-menu h5{
	font-size: 15px;
	margin-top: 10px;
}

.main-header{
	color: #172e6f;
	text-align: center;
	margin-top: 30px;
	font-size: 20px;
	font-weight: 500;
}
/* END */


/* Main Search */
.main-filter-search{
    background: #FFF;
	height: 60px;
	display: flex;
    align-items: center;
}
.searchbox-container{
	width: 992px;
    margin: 0 auto;
	padding: 0 10px;
	display: flex;
    align-items: center;
}

.searchbox-left{
	float: left;
    width: calc(100% - 100px);
}

.searchbox-right{
    float: left;
    width: 100px;
    position: relative;
}

.searchbox-input{
	float: left;
    width: 25%;
    padding: 0 10px;
    position: relative;
}

.searchbox-input select{
	width: 100%;
	border: none;
	background: transparent;
	outline: none;
	background: url(../img/bottom-arrow.png) no-repeat 100% 50%;
	background-size: 23px;
    -webkit-appearance: none;
    -moz-appearance: none;
	appearance: none;
	background-position-x: 95px;
	color: #172D6F;
	font-weight: 500;
}

.search-icon{
	width: 30px;
}

.main-menu-left{
	display: flex;
	align-items: center;
}

.main-menu-right{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.right-menu ul li{
	display: inline-block;
}

.right-menu .side-menu{
	cursor: pointer;
}

.right-menu ul li{
	margin: 0px 10px;
}

.rent-villa{
	color: #172D6F;
	font-size: 20px;
	font-weight: 500;
}

.rent-villa:hover{
	color: #172D6F;
}

.right-menu span:first-child{
	display: block;
    color: #172D6F;
    font-size: 12px;
    font-weight: 500;
}

.right-menu span:last-child{
	display: block;
    color: #172D6F;
    font-size: 17px;
    font-weight: 500;
}
/* END */



/* Index */ 
.latest-villa-header img,
.editor-villa-header img,
.discount-villa-header img,
.rent-table-header img{
	width: 200px;
	margin: 30px 0px;
}

.latest-villa-item,
.editor-villa-item,
.discount-villa-item{
	position: relative;
	margin-bottom: 20px;
}

.latest-villa-title,
.editor-villa-title{
	position: absolute;
	top: 0;
	left: 0;
	color: #FFF;
    background:rgba(0, 0, 0, 0.5);
    font-size: 15px;
    padding: 5px 20px;
}

.latest-villa-rent,
.editor-villa-rent{
	position: absolute;
	top: 0;
	right: 0;
	color: #FFF;
    background: #E81D63;
    font-size: 15px;
    padding: 5px 20px;
}

.latest-villa-box,
.editor-villa-box,
.discount-villa-box{
	background: #FFF;
	padding: 10px;
}

.latest-villa-name,
.latest-villa-price{
	color: #172D6F;
	font-size: 17px;
	font-weight: 500;
	display: flex;
    align-items: center;
}

.latest-villa-place{
	color: #23C1FF;
    float: right;
    font-size: 15px;
    margin-left: 10px;
    font-weight: 400;
}

.latest-villa-place span{
	color: #7F7F7F;
	margin-left: 3px;
	font-size: 13px;
}

.editor-villa-name,
.discount-villa-name{
	width: 50%;
	color: #172D6F;
	font-size: 18px;
	font-weight: 500;
}

.editor-villa-price{
	width: 50%;
	color: #23C1FF;
	font-size: 17px;
	text-align: right;
}

.editor-villa-price span,
.discount-villa-price span{
	color: #7F7F7F;
}

.editor-villa-place,
.discount-villa-place{
	color: #23C1FF;
	font-size: 17px;
}

.editor-villa-place span,
.discount-villa-place span{
	color: #7F7F7F;
	margin-left: 5px;
	font-size: 14px;
}

.editor-villa-details ul li,
.discount-villa-details ul li,
.latest-villa-details ul li{
	color: #172D6F;
	font-size: 13px;
	font-weight: 500;
}

.editor-villa-details img,
.discount-villa-details img,
.latest-villa-details img{
	width: 30px;
	margin-right: 10px;
}

.discount-villa{
	font-size: 19px;	
	color: #23C1FF;
	background: #F7F7F7;
	padding: 5px;
	font-weight: 500;
	position: absolute;
	right: 0;
	top: 0;
}

.discount-villa-price{
	color: #23C1FF;
	font-size: 18px;
	font-weight: 500;
	text-align: right;
}

.discount-villa-date{
    color: #7F7F7F;
	font-size: 15px;
}
 
.bottom-detail-box .white-box{
	min-height: 350px;
}

.advertising-box img{
	width: 100px;
	margin: 0 auto;
	display: table;
}

.advertising-box p{
	color: #172D6F;
	font-size: 23px;
	font-weight: 600;
	margin-bottom: 30px;
	max-width: 80%;
	margin: 0 auto;
}

.advertising-btn{
	background: #172D6F;
	color: #FFF;
	font-size: 20px;
	width: 150px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.advertising-btn:hover{
	color: #FFF;
}

.comment-header{
	color: #172D6F;
	font-size: 20px;
	font-weight: 500;
	border-bottom: 2px solid #172D6F;
	display: inline-block;
}

.comment-list li{
	margin: 30px 0px;
}

.comment-list .comment-title{
	color: #172D6F;
	font-size: 22px;
	text-align: center;
}

.comment-list .comment-desc{
	color: #23C1FF;
	font-size: 17px;
	font-weight: 400;
}

.all-comments{
	background: #23C1FF;
    position: absolute;
	right: 0;
	bottom: 0;
    color: #FFF;
    height: 50px;
    line-height: 50px;
    width: 200px;
	text-align: center;
	font-size: 17px;
}

.all-comments:hover{
	color: #FFF;
}

.all-comment-box .inner-comment-box{
	padding: 30px;
    background: #fff;
    box-shadow: 0 3px 12px 5px rgba(50, 51, 54, 0.2);
    color: #172e6f;
	margin-top: 30px;
}

.all-comment-box .inner-comment-box .all-comment-title{
	color: #23C1FF;
	font-size: 20px;
}

.all-comment-items li{
	margin: 30px 0px;
}

.all-comment-items .comment-item-header{
	background: #F7F9FB;
	color: #23C1FF;
	min-height: 70px;
	line-height: 70px;
	padding-left: 20px;
	padding-right: 20px;
}

.all-comment-items .comment-item-header img{
	width: 40px;
}

.all-comment-items .all-comment-stars{
	margin-right: 30px;
}

.all-comment-items .all-comment-stars i{
	color: #23C1FF;
	font-size: 30px;
	margin: 0px 5px;
}

.all-comment-items .all-comment-icons{
	color: #23C1FF;
}

.all-comment-items .comment-item-body{
	color: #172D6F;
	font-weight: 500;
	border-bottom: 2px solid #172D6F;
}

.all-comment-answer{
	background: #172D6F;
	padding: 20px;
	margin-top: 20px;
}

.answer-title{
	color: #23C1FF;
	font-size: 22px;
	margin-bottom: 10px;
}

.answer-subtitle{
	color: #FFF;
}
/* END */


/* TAB */
#type-tab a{
	background: #D3D3D3;
	color: #172D6F;
	border: none;
	border-radius: 0;
	height: 60px; 
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 20px;
	text-align: right;
} 

#region-tab a{
	background: #EDEDED;
	color: #23C1FF;
	border: none;
	border-radius: 0;
	height: 60px;
	display: flex;
	align-items: center;
	font-size: 20px; 
	justify-content: flex-start;
}

.responsive-tab {
	margin-top: 50px;
	margin-bottom: 50px;
}

.responsive-tab .tab-content{
	background: #FFF;
	padding: 50px;
	position: relative;
}

.responsive-tab .tab-content .all-villa{
	position: absolute;
	bottom: -50px;
	right: 50px;
}

.villa-five-column,
.villa-four-column{
	overflow: hidden;
	display: flex;
    flex-flow: row wrap;
    position: relative;
}

.villa-five-column .column-item{
	margin: 4px;
    flex: 0 1 calc(20% - 8px);
	text-align: center;
}

.villa-four-column .column-item{
	float: left;
	width: 23%; 
	margin: 1%; 
	text-align: center;
}

.column-item img{
	width: 100px;
}

.column-item-text{
	margin-top: 10px;
	color: #172D6F;
	font-weight: 500;
}  

.type-tab-header{
	background: #eeeeee;
    color: #172D6F;
    border: none;
    font-size: 18px;
	font-weight: 500;
	text-align: center;
	margin: 30px 0px;
	height: 60px;
	line-height: 60px;
}

.region-tab-header{
	background: #eeeeee;
    color: #23c1ff;
    border: none;
    font-size: 18px;
	font-weight: 500;
	text-align: center;
	margin: 30px 0px;
	height: 60px;
	line-height: 60px;
}
/* END */



/* FOOTER */
.footer {
	background: #d3d3d3;
	padding: 40px 0px;
}

.footer .footer-menu h5{
	color: #172e6f;
    border-bottom: 2px solid #172e6f;
    display: inline-block;
	margin-bottom: 0;
}

.footer ul li {
	margin: 10px 0px;
}

.footer ul li a {
	font-size: 16px;
	color: #172e6f;
}

.footer .footer-social-links{
	text-align: center;
}

.footer .footer-social-links ul li {
	display: inline-block;
}

.footer .footer-social-links ul li img {
	width: 50px;
	height: 50px;
	margin: 0px 10px;
}

.footer .footer-logo img {
	width: 150px;
}

.newsletter {
	padding: 30px 0px;
}

.newsletter #newsletter-form label {
	color: #172e6f;
	font-size: 16px;
	font-weight: bold;
}

.newsletter #newsletter-form .email-input {
	border: 1.5px solid #172e6f;
	margin: 0px 10px;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
}

.newsletter #newsletter-form .newsletter-btn {
	background: #172e6f;
	color: #FFF;
	border: none;
	height: 40px;
	width: 150px;
}

.newsletter #newsletter-form ::-webkit-input-placeholder {
	color: #4a4a4a;
	font-weight: bold;
}
/* END */


/* HEADER */
.main-menu, 
.responsive-main-menu{
	background: #FFF;
	padding: 20px 0px;
	display: flex;
	align-items: center;
}

.main-menu .logo{
	width: 150px;
}

.responsive-main-menu .right-menu img{
	width: 50px;
	cursor: pointer;
}
/* END */


/* ABOUT */
.villa-about-banner {
	background-image: url(../img/villa-blog-banner.png);
	background-size: cover;
	height: 300px;
	display: flex;
	align-items: center;
	text-align: center;
}

.villa-about-banner h1 {
    color: #FFF;
    font-size: 70px;
}

.about-box {
	margin: 40px 0px;
}

.inner-about-box{
	padding: 70px;
	background: #fff;
	box-shadow: 0 3px 12px 5px rgba(50, 51, 54, 0.2);
	color: #172e6f;
}

.inner-about-box p{
    font-weight: 500;
}

.inner-about-box .about-image{
	width: 100%;
	margin: 30px 0px;
}

.inner-about-box .about-box-header img{
	width: 200px;
	margin-bottom: 30px;
	display: block;
}

.inner-team-box{
	padding: 70px;
	background: #fff;
	box-shadow: 0 3px 12px 5px rgba(50, 51, 54, 0.2);
}

.team-header img,
.office-header img,
.file-header img{
	width: 150px;
	margin: 40px auto;
	display: block;
}

.office-photo{
	margin: 10px 0px;
}

.team-box{
	margin-bottom: 40px
}

.team-member{
	position: relative
}

.team-member ul li{
	background: #172D6F;
	margin-bottom: 80px;
	height: 150px;
	width: 90%;	
	position: relative;
}

.team-member ul li:nth-child(even){
	float: left;
}

.team-member ul li:nth-child(odd){
	float: right;
}

.team-member ul li:nth-child(even) img{
	width: 220px;
    position: absolute;
    right: -90px;
    top: -5px;
}

.team-member ul li:nth-child(odd) img{
	width: 220px;
    position: absolute;
    left: -90px;
    top: -5px;
} 
/* END */


/* CONTACT */
.villa-contact-banner {
	background-image: url(../img/villa-blog-banner.png);
	background-size: cover;
	height: 300px;
	display: flex;
	align-items: center;
	text-align: center;
}

.villa-contact-banner h1 {
    color: #FFF;
    font-size: 70px;
}

.contact-box {
	margin: 40px 0px;
}

.inner-contact-box{
	padding: 70px;
	background: #fff;
	box-shadow: 0 3px 12px 5px rgba(50, 51, 54, 0.2);
}

.contact-info ul li{
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.contact-icon{
	width: 60px;
    margin-right: 10px;
}

.contact-title{
   color: #23C1FF;
   font-weight: 500;
}

.contact-desc{
	color: #172e6f;
	font-weight: 500;
}
/* END */

 
/* BLOG */
.villa-blog-banner {
	background-image: url(../img/villa-blog-banner.png);
	background-size: cover;
	height: 300px;
	display: flex;
	align-items: center;
	text-align: center;
}

.villa-blog-banner h1 {
	color: #FFF;
	font-size: 70px;
}

.blog-text {
	margin-top: 40px;
	margin-bottom: 20px;
}

.blog-text .inner-blog-text {
	padding: 70px;
	background: #fff;
	box-shadow: 0 3px 12px 5px rgba(50, 51, 54, 0.2);
	color: #172e6f;
}

.blog-text .inner-blog-text .blog-text-desc {
	background: #23C1FF;
	color: #FFF;
	box-shadow: 0px 7px 5px 0px rgba(59, 66, 87, 0.2);
	width: 40%;
	float: right;
	text-align: center;
	min-height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.blog-post .blog-header {
	margin: 20px 0px;
}

.blog-post .blog-header img {
	width: 200px;
}

.blog-post .blog-post-image {
	position: relative;
	cursor: pointer;
}

.blog-post .blog-post-image .outer-blog-post {
	border: 2px solid #172e6f;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #172e6f;
	width: 70%;
	height: 150px;
}

.blog-post .blog-post-image .outer-blog-post .inner-blog-post {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #172e6f;
	background: #ffffff87;
	width: 90%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	font-weight: 500;
}

.blog-post .blog-post-image img {
	margin-bottom: 20px;
}

.blog-box-header{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.blog-text-header{
	background: #23C1FF;
    color: #FFF;
    box-shadow: 0px 7px 5px 0px rgba(59, 66, 87, 0.2);
    padding-left: 20px;
    font-size: 20px;	
	width: 200px;
	display: inline-block;
}

.blog-box-header img{
	width: 30px;
}

.blog-time{
	color: #172e6f;
	display: inline-block;
	margin-right: 10px;
}
/* END */


/* BLOG POST */
.blog-post-item {
    background: #fff;
    box-shadow: 0 3px 12px 5px rgba(50,51,54,.2);
	margin-bottom: 30px;
}

.blog-post-item .blog-post-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
	padding-top: 20px;
}

.blog-post-item .blog-post-header .blog-post-name {
    background: #23c1ff;
    color: #fff;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    font-weight: 500;
    padding-left: 10px;
}

.blog-post-item .blog-post-header .blog-post-date {
    color: #172d6f;
    margin: 0 20px;
}

.blog-post-item .blog-post-header .blog-post-social img {
    width: 30px;
}

.blog-post-item .blog-post-body {
    color: #172d6f;
	padding: 20px 0px;
}
/* END */

/* VİLLA REGION */
.villa-region-banner {
	background-image: url(../img/villa-type-banner.png);
	height: 300px;
	display: flex;
	align-items: center;
	text-align: center;
}

.villa-region-banner h1 {
	color: #FFF;
	font-size: 70px;
}

.region-text .container p {
	font-size: 15px;
	color: #ae8da1;
	text-align: center;
	line-height: 25px;
	max-width: 80%;
	margin: 0 auto;
}

.region-gallery-item {
	display: flex;
	align-items: center;
	background: #FFF;
	margin-bottom: 20px;
	box-shadow: -2px 8px 7px 2px rgba(50, 51, 54, 0.2);
}

.region-gallery-item .row {
	display: flex;
	align-items: center;
}

.region-gallery-item h4 {
	color: #445fa9;
	font-weight: 400;
}

.region-gallery-item h6 {
	color: #23c1ff;
}

.region-gallery-item a {
	color: #172e6f;
	border: 1.5px solid #172e6f;
	width: 150px;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	margin-top: 30px;
	transition: all 1s ease-in-out;
}

.region-gallery-item a:hover{
	background: #172e6f;
	color: #FFF; 
}
/* END */


/* VİLLA TİPLERİ */
.villa-type-banner {
  background-image: url(../img/villa-type-banner.png);
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
}

.villa-type-banner h1 {
  color: #FFF;
  font-size: 70px;
}

.showcase-gallery {
  margin: 30px 0px;
}

.showcase-gallery .showcase-inner-box{
	box-shadow: 0px 3px 12px 5px rgba(50, 51, 54, 0.2);
	background: #FFF;	
}
 
.showcase-gallery .showcase-box {
	display: flex;
	align-items: center;
}

.showcase-gallery .showcase-box .showcase-text {
	background: #FFF;
	color: #ae8da1;
	text-align: center;
	padding: 30px;
	line-height: 25px;
}

.showcase-gallery .showcase-box .showcase-text img {
	width: 200px;
	margin-bottom: 20px;
}

.showcase-gallery .villa-gallery-item .villa-gallery-image {
	width: 100%;
}

.showcase-gallery .villa-gallery-item .villa-item-box {
	position: relative;
	background: #FFF;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset -5px 1px 6px 0px rgba(229, 229, 229, 0.4);
}

.showcase-gallery .villa-gallery-item .villa-item-box img {
	position: absolute;
	top: -45px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
}

.showcase-gallery .villa-gallery-item .villa-item-box h5 {
	color: #172D6F;
	text-align: center;
}

.villa-gallery .villa-gallery-item {
	margin-bottom: 30px;
}

.villa-gallery .villa-gallery-item .villa-gallery-image {
	width: 100%;
}

.villa-gallery .villa-gallery-item .villa-item-box {
	position: relative;
	background: #FFF;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: inset -5px 1px 6px 0px rgba(229, 229, 229, 0.4);
}

.villa-gallery .villa-gallery-item .villa-item-box img {
	position: absolute;
	top: -45px;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
}

.villa-gallery .villa-gallery-item .villa-item-box h5 {
	color: #172D6F;
	text-align: center;
}


/* Product Listeleme */
.villa-product-banner {
	background-image: url(../img/products-banner.png);
	background-size: cover;
	height: 300px;
	display: flex;
	align-items: center;
	text-align: center;
}

.filter-header{
	background: #FFF;	
	padding: 30px 0px;
	box-shadow: 0 1px 10px rgba(0,0,0,.15);
}

.filter-header select{
	border: 1.5px solid #002a71;
    padding: 5px 30px;
    margin: 0px 10px;
	color: #002a71;
	font-size: 20px;
}

.input-search{
	margin-top: 30px;
}

.input-search .detailSearchBtn{
	background: transparent;
	border: none;
	color: #002a71;
	font-size: 20px;
}

.input-search .villaSearchBtn{
	background: #002a71;
	border: none;
	color: #FFF;
	font-size: 20px;
	border-radius: 6px;
	padding: 10px 20px;
	margin-left: 50px;
}

.input-search .villaSearchBtn .fa{
	color: #002f7f;
	display: inline-block;
}

#mobile-filter-btn{
	background: #172e6f;
    border: none;
    color: #FFF;
    width: 100%;
    height: 50px;
}

.filter-section{
	padding: 50px 0px;
}

.product-filter{
	background: #FFF;
	box-shadow: 0 3px 12px 5px rgba(191, 192, 194, 0.2);
}

.product-filter-row{
	padding: 15px;
}

.product-filter-row label.checkbox {
	margin-right: 1rem;
    padding-left: 1.75rem;
    position: relative;
    color: #9e9e9e;
    font-size: 13px;
	font-weight: 500;
	display: block;
	text-transform: capitalize;
}

.product-filter-row label.checkbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.product-filter-row label.checkbox input[type="checkbox"]:checked ~ span {
    color: #FFFFFF;
    background: #002f7f;
	border: 2px solid #002f7f;
}

.product-filter-row label.checkbox span {
	position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    background-color: #d4d7dc;
    border: 2px solid #d4d7dc;
}

.product-filter-title{
	font-size: 18px;
    color: #002f7f;
    font-weight: 500;
	margin-bottom: 10px;
}

.product-filter-row{
	border-bottom: 1px solid #DADADA;
}
 
.product-filter-row h5{
	font-size: 15px;
	color: #002f7f;
	margin-bottom: 10px;
}

.product-filter-search{
	width: 90%;
	margin: 0 auto;
}
  
.product-filter-search input{
	border: 1px solid #002f7f;
    width: 100%;
    height: 50px;
    padding-left: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #9e9e9e;
	font-size: 14px;
	font-weight: 500;
}

.product-filter-search i{
	position: absolute;
    top: 32px;
    right: 13px;
    color: #002f7f;
    font-size: 23px;
}

.product-filter-option{
	margin-bottom: 30px;
}

.product-filter-option a{
	background: #FFF;
	box-shadow: inset 0 0 1px #000000;
	color: #002f7f; 
	width: 100%;
	display: block;
	font-weight: 500;
	text-align: center;
	font-size: 14px;
    height: 50px; 
	display: flex;
    align-items: center;
    justify-content: center;
}

.product-item{
	background: #FFF;
	margin-bottom: 30px;
}
   
.product-item-header{
	padding-top:10px;
	padding-left: 10px;
}

.product-item-header .villa-name{
    width: 50%;
    color: #172D6F;
    font-size: 18px;
    font-weight: 500;
}	
   
.product-item-header .villa-price{
	width: 50%;
    color: #23C1FF;
    font-size: 15px;
    text-align: right;
}	

.product-item-header .villa-price span{
	color: #7F7F7F;
	font-weight: 300;
}

.product-item-header .villa-place{
    color: #23C1FF;
    font-size: 17px;
}

.product-item-header .villa-place span{
    color: #7F7F7F;
    margin-left: 5px;
    font-size: 14px;
}

.product-item{
	min-height: 290px;
	position: relative;
}

.product-item-icons{
	text-align: center;
}

.product-item-icons li{
	color: #172D6F;
    font-size: 12px;
    font-weight: 500;
}
    
.product-item-icons li img{
	width: 30px;
    margin-right: 10px;
}

.product-item hr{
	margin: 10px 0px;
}

.product-villa-info{
	padding-left: 10px;
}

.product-villa-info ul li{
	color: #172D6F;
	font-size: 13px;
    font-weight: 500;
	margin: 10px 0px;
	display: flex;
    align-items: center;
}

.product-villa-info i{
	margin-right: 10px;
    color: #172D6F;
	font-size: 10px; 
}
  
.product-item-buttons{ 
	height: 40px;
    line-height: 40px;
	border-top: 2px solid #E4E4E4;
	margin-top: 30px;
	position: absolute;
    bottom: 0;
    width: 100%;
}

.product-item-buttons .left-btn{
	background: #EF6191;
    color: #FFF;
    display: inline-block;
    width: 30%;
    text-align: center;
	float: left;
}
    
.product-item-buttons .right-btn{
	width: 70%;
    color: #172D6E;
	float: left;
	text-align: center;
	font-size: 15px;
}

.product-item-buttons .right-btn img{
	margin-left: 10px;
}

.product-small-image{
	height: 145px;
}

.product-big-image{
	height: 290px;
}

.product-list-banner{
	background: #FFF;
    box-shadow: 0 3px 12px 5px rgba(191, 192, 194, 0.2);
	padding: 30px;
	text-align: center;
	margin-bottom: 30px;
}

.product-list-banner strong{
	font-size: 20px;
    color: #172D6E;
}

.product-list-banner p{
    font-size: 16px;
    color: #440026;
	margin: 15px 0px;
}

.product-list-banner em{
	display: block;
    font-size: 13px;
    color: #440026;
    font-style: normal;
    margin-bottom: 10px;
}

.product-list-banner a {
    display: block;
    font-size: 17px;
    color: #172D6E;
	display: flex;
    align-items: center;
    justify-content: center;
}

.product-list-banner .fa{
	margin-left: 10px;
}

.product-pagination{
	text-align: center;	
}

.product-pagination .is-active li{
	border: 1px solid #172e6f; 
}

.product-pagination li{
	display: inline-block; 
    color: #172e6f;
    width: 40px;
    height: 30px;
    line-height: 30px;
    font-weight: 500;
}

.reservation-details-left .fa{
	color: #9b9a9b;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.slick-slide img{
	width: 100%;
}

.slick-prev{
	position: absolute;
    left: 10px !important;
}

.slick-next{
	position: absolute;
    right: 10px !important;
}
	
.slick-dots{
	display: none !important;
}

.slick-slide img {
    height: 290px;
}

.slick-slider{
	margin-bottom: 0 !important;
}

/* Product */ 
.villa-header{
	margin-top: 20px;
	background: #FFF;
}

.villa-title{
	font-size: 26px;
	color: #002A71;
	font-weight: 500;
}

.villa-city{
	font-size: 18px;
	color: #22C0FF;
}

.villa-price{
	color: #002A71;
	font-size: 26px;
	font-weight: 500; 
}

.villa-price-text{
	color: #9B9A9B;
	font-size: 20px;
	font-weight: 500;
}

.villa-detail-info{
	margin: 30px 0px;
	padding: 30px 0px;
	border-top: 2px solid #002970;
	border-bottom: 2px solid #002970;
}

.villa-detail-info .villa-detail-icon{
	display: inline-block;
	margin: 0px 10px;
}

.villa-detail-info .villa-detail-icon p{
	color: #002A71;
	margin-top: 10px;
	font-weight: 500;
}

.villa-image-btn{
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
}

.villa-image-btn button{
	background: #FFF;
	box-shadow: inset -5px 1px 6px 0px rgba(229, 229, 229, 0.4);
	color: #002A71;
	font-size: 18px;
	font-weight: 500;
	border: none;
	display: inline-block;
	width: 220px;
	height: 50px;
	text-align: center;
}

.white-box{
	padding: 20px;
	background: #FFF;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
	margin: 20px 0px;
}

.box-header{
	color: #002A71;
	font-size: 17px;
	font-weight: 600;
}

.mobile-reservation-scroll a{
    background-image: linear-gradient(90deg, #83d7f9, #8ae9ff, #3c59ff, #3c59ff);
    width: 100%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
	border-radius: 30px;
}

.reservation-line{
	width: 250px;
	display: table;
	margin: 0 auto 20px;
	border-top: 2px solid #22C0FF
}
 
.reservation-row{
	margin: 30px 0px;
	display: flex;
    align-items: center; 
	border: 1px solid #002A71;
	position: relative;
	min-height: 50px;
}

.reservation-time{
	color: #002A71;
	font-size: 15px;
	padding-left: 10px;
}

.reservation-daily{
	color: #22C0FF;
	text-align: center;
	display: inline-block;
}

.reservation-monthly{
	background: #002A71;
    color: #FFF;
    height: 50px;
    width: 120px;
    display: inline-block;
	text-align: center;	
	font-weight: 600;
}

.reservation-daily .reservation-daily-price,
.reservation-monthly .reservation-monthly-price{
	font-weight: 600;
	font-size: 18px;
}

.reservation-daily .reservation-daily-text,
.reservation-monthly .reservation-monthly-text{
	font-size: 16px;
	font-weight: 300;
}

.resevation-gradient-btn button{
	background-image: linear-gradient(to right, #83d7f9, #8ae9ff, #3c59ff, #3c59ff);
    border: none;
    margin: 0 auto;
    display: block;
    color: #FFF;
    height: 50px;
    width: 200px;
}

.reservation-source-plus,
.reservation-source-minus{
	padding: 20px;
    background: #FFF;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
	margin: 20px 0px;
	min-height: 400px;
}

.reservation-source-plus ul li,
.reservation-source-minus ul li{
	margin: 10px 0px;
	color: #002A71;
	font-size: 16px;
	font-weight: 500;
}

.reservation-source-minus ul li .fa{
	color: #22C0FF;
	font-size: 13px;
	margin-right: 10px;
} 

.reservation-left-box{
	width: 67%;
	margin-right: 3%;	
	float: left;
}

.reservation-right-box{
	width: 30%;
	float: left;
}

.show-map{
	background: #002970;
	color: #FFF;
	border: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	font-size: 18px;
}

.villa-distance .white-box{
	min-height: 400px;
}

.villa-distance ul li {
	margin: 10px 0px;
	color: #002A71;
	font-size: 16px;
	font-weight: 600;
}

.villa-product-buttons{
	margin: 50px 0px;
}

.villa-product-buttons .comment-btn{
	border: 1px solid #172D6E;
	color: #172D6E;
	border-radius: 20px;
	font-weight: 500;
	font-size: 15px;
	padding: 6px 30px;
}

.villa-product-buttons .comment-btn:hover{
	background: #172D6E;
	color: #FFF;
}

.villa-product-buttons .faq-btn{
	border: 1px solid #22C0FF;
	color:  #22C0FF;
	border-radius: 20px;
	font-weight: 500;
	font-size: 15px;
	padding: 6px 30px;
}

.villa-product-buttons .faq-btn:hover{
	background: #22C0FF;
	color: #FFF;
}
 
@media (min-width: 992px) { 
	.villa-info{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
	} 
	.responsive-main-menu{
		display: none;
	}
}

@media (max-width: 992px) { 
	.villa-info{
		padding: 50px;
	}
}
 
/* Search */
@media screen and (max-width: 1280px){
.wrapper {
		width: 100% !important;
	}
}

@media screen and (max-width: 992px){
	.formLeft, #detailSearch, #searchResult .resultItem .img, .rzv-left {
		width: 100% !important;
	}
	.detailSearchBtn {
		margin-left: 0 !important;
	}
}

@media screen and (max-width: 992px){
	.formRight {
		float: none !important;
		width: 190px !important;
		display: table;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px){
	.formLeft .input-field.w4, #owl-destinations .item a {
		width: 50% !important;
	}
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
}

.formLeft {
	float: left;
	width: calc(100% - 190px);
}
  
.formLeft .input-field {
	float: left;
	width: 100%;
	padding: 0 15px;
	position: relative;
	margin-bottom: 15px;
}

.formLeft .input-field.w4 {
	width: 25%;
}

.formLeft .input-field.select_icon::after {
	content: '';
	top: 18px;
	right: 22px;
	width: 18px;
	height: 9px;
	position: absolute;
	pointer-events: none;
	background: url("../../img/angle_down.png") no-repeat center;
}

.formLeft .input-field.date_icon::after {
	content: '';
	top: 13px;
	right: 22px;
	width: 18px;
	height: 18px;
	position: absolute;
	pointer-events: none;
	background: url("../../img/date_icon.png") no-repeat center;
	background-size: contain;
}

.formLeft .input-field input[type="text"] {
	float: left;
	width: 100%;
	height: 44px;
	margin: 0 0;
	padding: 7px 24px 0 12px;
	font-size: 18px;
	color: #172e6f;
	line-height: 100%;
	border-radius: 8px;
	border: 1px solid #e6e6e6;
	outline: 0;
}

.formLeft .input-field.select_icon::after {
    content: '';
    top: 18px;
    right: 22px;
    width: 18px;
    height: 9px;
    position: absolute;
    pointer-events: none;
    background: url(../img/bottom-down.png) no-repeat center;
}

.formLeft .input-field.date_icon::after {
    content: '';
    top: 13px;
    right: 22px;
    width: 18px;
    height: 18px;
    position: absolute;
    pointer-events: none;
    background: url(../img/date-icon.png) no-repeat center;
    background-size: contain;
}
  
.formLeft .input-field input::-webkit-input-placeholder {
	color: #172e6f;
}

.formLeft .input-field input:-ms-input-placeholder {
	color: #172e6f;
}

.formLeft .input-field input::-ms-input-placeholder {
	color: #172e6f;
}

.formLeft .input-field input::placeholder {
	color: #172e6f;
}
  
#detailSearch {
	float: left;
	display: none;
	width: calc(100% + 190px);
}
  
#detailSearch input[type="checkbox"] + label {
	cursor: pointer;
	color: #4a4a4a;
	font-weight: 500;
	position: relative;
	margin-bottom: 15px;
	padding: 0 0 0 30px;
	width: 27%;
	margin-left: 4%;;
}
  
#detailSearch input[type="checkbox"] + label::before {
	content: '';
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	position: absolute;
	background-color: #e9e9e9;
}

#detailSearch input[type="checkbox"]:checked + label::before {
	background-color: #172e6f;
}

#detailSearch .price-text {
	float: left;
	font-size: 16px;
	font-weight: 500;
	color: #4a4a4a;
	padding-top: 5px;
}

#detailSearch .sliderRangeContent {
	float: left;
	width: 450px;
	padding: 12px 30px 9px 15px;
}

#detailSearch .sliderRangeContent .ui-slider-horizontal {
	height: 9px;
	border-radius: 10px;
	background-color: #d8d8d8;
}

#detailSearch .sliderRangeContent .ui-slider .ui-slider-range {
	border-radius: 10px;
	background-color: #23C1FF;
}

#detailSearch .sliderRangeContent .ui-slider-handle {
	top: -12px;
	width: 30px;
	height: 30px;
	background-image: url("../img/slider_handle.png");
}

#detailSearch #newsearchprice {
	width: 145px;
	height: 30px;
	padding: 7px 0 0;
	color: #4a4a4a;
	font-size: 17px;
	font-weight: bold;
	border: 0;
}

#detailSearch .search-checkbox input[type="checkbox"] + label{
	width: 100%;
	margin-left: 0;
}

.searchBox {
	float: left;
	width: 100%;
	z-index: 99;
	position: relative;
	padding: 35px 0 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.searchBox.fixed {
    top: 0;
    position: fixed;
}

.make-reservation.fixed {
    top: 0;
    position: fixed;
	margin-top: 0;
	z-index: 999;
	width: 425px; 
}

.scrollReservationBtn.fixed {
	top: 0;
    left: 0;
    position: fixed;
    border-radius: 0;
	z-index: 9999;
}

.search-checkbox {
	float: left;
	padding: 0 7px;
}
 
.detailSearchBtn {
	width: 240px;
	color: #fff;
	font-size: 20px;
	padding-top: 5px;
	margin-left: 190px;
	border-radius: 20px;
	display: inline-block;
	background-color: #172e6f;
	outline: 0;
	border: 0;
}
  
.popoverWrap {
	top: 60px;
	left: 15px;
	display: none;
	z-index: 1060;
	min-width: 210px;
	padding: 1px 1px;
	position: absolute;
	border-radius: 4px;
	white-space: normal;
	width: calc(100% - 30px);
	background-color: #fff;
	border: 1px solid #d7d8da;
	-webkit-box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.1);
}
  
.popoverWrap::before {
	content: '';
	left: 20px;
	top: -10px;
	z-index: 9;
	position: absolute;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid #ffffff;
}
  
.popoverWrap::after {
	content: '';
	left: 19px;
	top: -12px;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 12px solid #d7d8da;
}

.popoverWrap.block {
	display: block;
}

.popoverWrap .popoverCloseBtn {
	top: -10px;
	right: -12px;
	width: 30px;
	height: 30px;
	color: #fff;
	font-size: 18px;
	line-height: 36px;
	text-align: center;
	position: absolute;
	border-radius: 50%;
	background-color: #333;
	cursor: pointer;
}

.popoverWrap .popover-content {
	padding: 12px 12px 2px;
}

.popoverWrap input[type="checkbox"] + label {
	float: left;
	width: 100%;
	margin: 0 0 10px;
	padding: 0 0 0 30px;
	font-size: 14px;
	color: #545454;
	font-weight: 400;
	cursor: pointer;
	position: relative;
}

.popoverWrap input[type="checkbox"] + label::before {
	content: '';
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	position: absolute;
	border: 1px solid #a9a9a9;
}
  
.popoverWrap input[type="checkbox"] + label::after {
	content: "\e013";
	top: 1px;
	left: 3px;
	color: #172e6f;
	position: absolute;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: scale(3) rotateZ(-20deg);
	transform: scale(3) rotateZ(-20deg);
	opacity: 0;
	-webkit-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
  
 .searchBox input[type="checkbox"], .searchBox input[type="radio"] {
    width: 1px;
    height: 1px;
    left: -1000px;
    z-index: -1000;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
}

  .popoverWrap input[type="checkbox"]:checked + label::after {
	-webkit-transform: scale(1) rotateZ(0deg);
	transform: scale(1) rotateZ(0deg);
	opacity: 1;
  }
  
  .popoverWrap .input-group-btn .btn {
	outline: none;
	color: #172e6f;
	padding: 6px 9px;
	background: none;
	border: 1px solid #d7d8da;
	-webkit-box-shadow: none;
	box-shadow: none;
  }
  
  .popoverWrap .input-number {
	text-align: center;
	background: #fff;
	padding: 0 0 !important;
	height: 35.6px !important;
	color: #172e6f !important;
	border-radius: 0 !important;
	border: 1px solid #d7d8da !important;
  }
  
  .formRight {
	float: left;
	width: 190px;
	position: relative;
  }
  
  .searchBtn {
	float: left;
	width: 100%;
	margin: 0 0;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	position: relative;
	border-radius: 22px;
	padding: 13px 39px 7px 0;
	background-color: #172e6f;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	outline: 0;
	border: 0;
  }
  
.searchBtn i {
	right: 0;
	top: -3px;
	width: 50px;
	height: 50px;
	color: #172e6f;
	line-height: 50px;
	text-align: center;
	position: absolute;
	border-radius: 50%;
	background-color: #fff;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
  
  
.flex, #owl-comments .item .comment-center, .fSection, #searchBox, ul.distanceList li, ul.commentList li .comment-center {
	display: -ms-flexbox;
	display: flex;
}

.space-between {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/* Search Modal */
.modal-full {
	min-width: 100%;
	margin: 0;
}
.modal-full .modal-content {
	min-height: 100vh;
	border-radius: 0;
	background-color: #fff;
}
 .modal-full .modal-content .modal-header {
	border-bottom: none;
}
 .modal-full .modal-content .modal-header .close {
	font-size: 50px;
}
 .modal-full .modal-content #modal-search-bar {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#searchModal form {
    width: 100%;
    display: table;
    margin: 0 auto;
    max-width: 695px;
    position: relative;
}
#searchModal input {
    float: left;
    width: calc(100% - 42px);
    height: 64px;
    margin: 0 0;
    padding: 7px 32px 0 15px;
    color: #fff;
    font-size: 24px;
    border-radius: 5px;
    background: #172e6f;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    outline: 0;
    border: 0;
}
#searchModal .submitBtn {
    right: 0;
    top: -3px;
    width: 70px;
    height: 70px;
    font-size: 24px;
    color: #172e6f;
    padding: 4px 0 0;
    line-height: 70px;
    text-align: center;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    outline: 0;
    border: 0;
}
#searchModal ::placeholder{
	color: #FFF;
}
/* END */


/* Villa Product */
.villa-header {
	 margin-top: 20px;
	 background: #fff;
}
 .villa-header .villa-image-btn {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.15);
    box-shadow: 0 1px 10px rgba(0,0,0,.15);
}
 .villa-header .villa-image-btn button {
	 background: #fff;
	 box-shadow: inset -5px 1px 6px 0px rgba(229, 229, 229, 0.4);
	 color: #002a71;
	 font-size: 18px;
	 font-weight: 500;
	 border: none;
	 display: inline-block;
	 width: 220px;
	 height: 50px;
	 text-align: center;
}
 .villa-header .villa-info .villa-title {
	 font-size: 26px;
	 color: #002a71;
	 font-weight: 500;
}
 .villa-header .villa-info .villa-city {
	 font-size: 18px;
	 color: #22c0ff;
}
 .villa-header .villa-info .villa-detail-info {
	 margin: 30px 0px;
	 padding: 30px 0px;
	 border-top: 2px solid #002970;
	 border-bottom: 2px solid #002970;
}
 .villa-header .villa-info .villa-detail-info .villa-detail-icon {
	 display: inline-block;
	 margin: 0px 10px;
}
 .villa-header .villa-info .villa-detail-info .villa-detail-icon p {
	 color: #002a71;
	 margin-top: 10px;
	 font-weight: 500;
}
 .villa-header .villa-info .villa-detail-info .villa-detail-icon img {
	 width: 60px;
}
 .villa-header .villa-info .villa-price {
	 color: #002a71;
	 font-size: 26px;
	 font-weight: 500;
}
 .villa-header .villa-info .villa-price .villa-price-text {
	 color: #9b9a9b;
	 font-size: 17px;
	 font-weight: 500;
}
 .reservation-section {
	 padding: 50px 0px;
}
 .reservation-section .innner-reservation-box {
	 padding: 20px;
	 background: #fff;
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
	 margin: 20px 0px;
}
 .reservation-section .innner-reservation-box .reservation-box-header {
	 color: #002a71;
	 font-size: 17px;
	 font-weight: 600;
}
 .reservation-section .innner-reservation-box .reservation-row {
	 margin: 30px 0px;
}
 .reservation-section .innner-reservation-box .reservation-row .reservation-time {
	 color: #002a71;
	 font-size: 16px;
}
 .reservation-section .innner-reservation-box .reservation-row .reservation-daily {
	 color: #22c0ff;
	 font-size: 16px;
	 font-weight: 600;
}
 .reservation-section .innner-reservation-box .reservation-row .reservation-monthly {
	 background: #002a71;
	 color: #fff;
	 padding: 10px;
}
 .reservation-section .innner-reservation-box .resevation-gradient-btn button {
	 background-image: linear-gradient(to right, #83d7f9, #8ae9ff, #3c59ff, #3c59ff);
	 border: none;
	 margin: 0 auto;
	 display: block;
	 color: #fff;
	 height: 50px;
	 width: 200px;
}
 .reservation-source .reservation-source-plus {
	 padding: 20px;
	 background: #fff;
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
	 margin: 20px 0px;
	 min-height: 400px;
}
 .reservation-source .reservation-source-plus .reservation-source-header {
	 color: #002a71;
	 font-size: 17px;
	 font-weight: 600;
}
 .reservation-source .reservation-source-plus hr {
	 width: 250px;
	 display: table;
	 margin: 0 auto 20px;
	 border-top: 2px solid #22c0ff;
}
 .reservation-source .reservation-source-plus ul li {
	 margin: 10px 0px;
	 color: #002a71;
	 font-size: 16px;
	 font-weight: 600;
}
 .reservation-source .reservation-source-minus {
	 padding: 20px;
	 background: #fff;
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
	 margin: 20px 0px;
	 min-height: 400px;
}
 .reservation-source .reservation-source-minus .reservation-source-header {
	 color: #002a71;
	 font-size: 17px;
	 font-weight: 600;
}
 .reservation-source .reservation-source-minus hr {
	 width: 250px;
	 display: table;
	 margin: 0 auto 20px;
	 border-top: 2px solid #22c0ff;
}
 .reservation-source .reservation-source-minus ul li {
	 margin: 10px 0px;
	 color: #002a71;
	 font-size: 16px;
}
 .reservation-source .reservation-source-minus ul li .fa {
	 color: #22c0ff;
	 font-size: 13px;
	 margin-right: 10px;
}

.reservation-section .calendar-btn{
	background-image: linear-gradient(90deg, #83d7f9, #8ae9ff, #3c59ff, #3c59ff);
    width: 160px;
    margin: 10px auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation-section .calendar-btn a{
    color: #FFF;
	font-size: 13px;     
}
.make-reservation .calendar-btn{
	float: right;
    margin-top: -10px;
	border-radius: 30px;
}

.afterCalculatedBtn{
	background-image: linear-gradient(90deg, #83d7f9, #8ae9ff, #3c59ff, #3c59ff);
    width: 200px;
    margin: 10px auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
	color: #FFF;
	border: none;
}
  
.resevation-alert{
	font-size: 14px;
}

.resevation-alert i{
	color: #2293bb;
    margin-right: 10px;
}

#alertModal .modal-header{
	background: #f4f4f2;
    border-bottom: 1px solid #ddd;
}
   
#alertModal .modal-body p{
	font-size: 14px;
	margin: 10px 0px;
}

.villa-description {
	 padding: 20px;
	 background: #fff;
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
	 margin: 20px 0px;
}
 .villa-description .villa-description-header {
	 color: #002a71;
	 font-size: 17px;
	 font-weight: 600;
}
 .villa-description hr {
	 width: 250px;
	 display: table;
	 margin: 0 auto 20px;
	 border-top: 2px solid #22c0ff;
}
.villa-description p{
	font-size: 14px;
}
 .villa-features {
	 padding: 20px;
	 background: #fff;
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
	 margin: 20px 0px;
}
 .villa-features .villa-features-header {
	 color: #002a71;
	 font-size: 17px;
	 font-weight: 600;
}
 .villa-features hr {
	 width: 250px;
	 display: table;
	 margin: 0 auto 20px;
	 border-top: 2px solid #22c0ff;
}
.villa-features  p{
	font-size: 14px;
}
 .villa-transportation {
	 padding: 20px;
	 background: #fff;
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
	 margin: 20px 0px;
}
 .villa-transportation .villa-transportation-header {
	 color: #002a71;
	 font-size: 17px;
	 font-weight: 600;
}
 .villa-transportation hr {
	 width: 250px;
	 display: table;
	 margin: 0 auto 20px;
	 border-top: 2px solid #22c0ff;
}
 .villa-transportation  p{
	font-size: 14px;
}
 .villa-distance-left {
	 padding: 20px;
	 background: #fff;
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
	 margin: 20px 0px;
	 min-height: 400px;
}
 .villa-distance-left .villa-distance-header {
	 color: #002a71;
	 font-size: 17px;
	 font-weight: 600;
}
 .villa-distance-left ul li {
	 margin: 10px 0px;
	 color: #002a71;
	 font-size: 15px;
	 font-weight: 600;
}
 .villa-distance-left ul li img {
	 margin-right: 5px;
}
 .villa-distance-right {
	 padding: 20px;
	 background: #fff;
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
	 margin: 20px 0px;
	 min-height: 400px;
}
 .villa-distance-right .villa-distance-header {
	 color: #002a71;
	 font-size: 17px;
	 font-weight: 600;
}
 .villa-distance-right ul li {
	 margin: 10px 0px;
	 color: #002a71;
	 font-size: 16px;
	 font-weight: 600;
}
 .villa-distance-right .show-map {
	 background: #002970;
	 color: #fff;
	 border: none;
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 50px;
	 font-size: 18px;
}
 .make-reservation-box {
	 padding: 20px;
	 background: #fff;
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
}
 .make-reservation hr {
	 width: 100%;
	 display: table;
	 margin: 0 auto 20px;
	 border-top: 2px solid #22c0ff;
}
 .make-reservation .make-reservation-header {
	 color: #002a71;
	 font-size: 18px;
	 font-weight: 600;
}
 .make-reservation .make-reservation-form .reservation-date-row {
	 display: flex;
	 align-items: center;
}
 .make-reservation .make-reservation-form .reservation-date-row .input-field {
	 width: 45%;
	 float: left;
	 text-align: center;
}
 .make-reservation .make-reservation-form .reservation-date-row .input-field input {
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
	 border: none;
	 height: 50px;
	 font-size: 11px;
	 color: #9b9a9b;
	 width: 100%;
	 text-align: center;
}
 .make-reservation .make-reservation-form .reservation-number-row {
	 margin-top: 20px;
	 margin-bottom: 20px;
	 display: flex;
	 align-items: center;
}
 .make-reservation .make-reservation-form .reservation-number-row .input-field {
	 width: 50%;
	 float: left;
	 text-align: center;
}
 .make-reservation .make-reservation-form .reservation-number-row .input-field input {
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
	 border: none;
	 height: 50px;
	 font-size: 11px;
	 color: #9b9a9b;
	 width: 100%;
	 text-align: center;
}
 .make-reservation .make-reservation-details {
	 border-top: 2px solid #002970;
	 padding-top: 20px;
}

.make-reservation .make-reservation-details ul li {
	 margin: 20px 0px;
	 color: #9b9a9b;
	 font-size: 15px;
	 font-weight: 500;
}
.make-reservation .make-reservation-details .reservation-result-header{
	 font-size: 27px;
	 font-weight: 400;
}
.make-reservation .make-reservation-details .reservation-result-no{
	font-size: 27px;
	color: #22c0ff;
	font-weight: bold;
}
 .make-reservation-btn {
	 background-image: linear-gradient(90deg, #83d7f9, #8ae9ff, #3c59ff, #3c59ff);
	 border: none;
	 margin: 0 auto;
	 display: block;
	 color: #fff;
	 height: 50px;
}
 .make-reservation-btn button {
	 background-image: linear-gradient(90deg, #83d7f9, #8ae9ff, #3c59ff, #3c59ff);
	 border: none;
	 margin: 0 auto;
	 display: block;
	 color: #fff;
	 height: 50px;
	 width: 100%;
}
 .help-box {
	 background: #fff;
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
	 width: 70%;
	 padding: 15px;
	 margin: 0 auto;
	 display: block;
}
 .help-box .help-box-left a {
	 color: #22c0ff;
}
 .help-box .help-box-right {
	 color: #002a71;
	 font-weight: 500;
} 
#reservation-form .input-group .input-group-btn {
    top: 8px;
    z-index: 99;
    width: 28px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    background-color: #a61457;
}
#reservation-form .input-group .input-group-btn .btn-number {
    width: 100%;
    z-index: 99;
    color: #fff;
    cursor: pointer;
    padding: 1px 0 0;
    line-height: 32px;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    outline: 0;
    border: 0;
}

#reservation-form  .person-no{
	position: absolute;
	left:5px;
	top: 5px;
	width: 40px;
}

#reservation-form .reservation-date-icon{
	float: left;
	width: 10%;
	margin: 0 5%;
}

#afterCalculated{
	 display: none;
 }
 
 .make-reservation-help{
	 background: #FFF;
	 padding: 20px;
	 margin: 30px 0px;
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
 }
 
 .make-reservation-help h5{
	color: #002a71;
	margin-bottom: 10px;
 }
 
.make-reservation-help button{
  background: #22c0ff;
  border: none;
  color: #FFF;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  margin-top: 20px;
}

.make-reservation-help i{
	color: #172e6f;
	margin-right: 10px;
}

.make-reservation-help p{
	font-size: 15px;
    color: #636161;
}

.phone-detail,
 .email-detail{
	padding: 15px;
	color: #002a71;
	font-weight: 500;
	font-size: 20px;
 }
 
 /* END */
 
 
 /* PAYMENT */
 .payment-box .container-fluid {
	 background: #fff;
	 padding: 30px;
}
 .payment-box .step-header {
	 max-width: 768px;
	 margin: 0 auto;
}
 .payment-box .step-header .step {
	 list-style: none;
	 margin: 0.2rem 0;
	 width: 100%;
}
 .payment-box .step-header .step .step-item {
	 -ms-flex: 1 1 0;
	 flex: 1 1 0;
	 margin-top: 0;
	 min-height: 1rem;
	 position: relative;
	 text-align: center;
}
 .payment-box .step-header .step .step-item:not(:first-child)::before {
	 background: #9b9a9b;
	 content: "";
	 height: 2px;
	 left: -50%;
	 position: absolute;
	 top: 9px;
	 width: 100%;
}
 .payment-box .step-header .step .step-item a {
	 color: #9b9a9b;
	 font-size: 13px;
	 font-weight: 500;
	 display: inline-block;
	 margin-top: 40px;
	 text-decoration: none;
}
 .payment-box .step-header .step .step-item a::before {
	 background: #9b9a9b;
	 border-radius: 50%;
	 content: "";
	 display: block;
	 width: 30px;
	 height: 30px;
	 left: 50%;
	 position: absolute;
	 top: -5px;
	 transform: translateX(-50%);
	 z-index: 1;
}
 .payment-box .step-header .step .step-item.active a {
	 color: #002a71;
	 font-size: 16px;
	 font-weight: 700;
}
 .payment-box .step-header .step .step-item.active a::before {
	 background: #252525;
}
 .payment-box .step-header .step .step-item.active ~ .step-item::before {
	 background: #e7e9ed;
}
 .payment-box .step-header .step .step-item.active ~ .step-item a::before {
	 background: #e7e9ed;
}
 .payment-box .step-header .step-short-desc {
	 color: #4a494a;
	 font-size: 13px;
	 text-align: center;
	 margin: 30px 0px;
}
 .payment-box .step-details .step-detail-center {
	 border-top: 2px solid #002a71;
	 border-bottom: 2px solid #002a71;
	 padding: 20px 0px;
}
 .payment-box .step-details .step-detail-center img {
	 width: 40px;
}
 .payment-box .step-details .step-detail-center ul li {
	 margin: 0px 10px;
}
 .payment-box .step-details .step-detail-center .villa-time {
	 font-size: 12px;
	 font-weight: 500;
}
 .payment-box .step-details .step-detail-center .villa-time span {
	 color: #22c0ff;
}
 .payment-box .step-details .step-detail-center .icon-category {
	 color: #002a71;
	 font-size: 12px;
	 margin-top: 10px;
	 margin-bottom: 0;
}
 .payment-box .step-details .step-detail-top {
	 margin-bottom: 20px;
}
 .payment-box .step-details .step-detail-top .villa-name {
	 color: #002a71;
	 font-size: 20px;
	 font-weight: 500;
}
 .payment-box .step-details .step-detail-top .villa-city {
	 color: #22c0ff;
	 font-size: 16px;
	 font-weight: 500;
}
 .payment-box .step-details .step-detail-top .villa-rent-date .first-date {
	 background: #22c0ff;
	 color: #fff;
	 font-size: 13px;
	 padding: 10px 20px;
	 border-radius: 20px;
	 display: inline-block;
}
 .payment-box .step-details .step-detail-top .villa-rent-date .last-date {
	 background: #002a71;
	 color: #fff;
	 font-size: 13px;
	 padding: 10px 20px;
	 border-radius: 20px;
	 display: inline-block;
}
 .payment-box .step-details .step-detail-top .villa-rent-date .day {
	 color: #002a71;
	 font-size: 13px;
	 font-weight: 500;
}
 .payment-box .step-details .step-detail-bottom {
	 font-size: 12px;
	 font-weight: 500;
}
 .payment-box .step-details .step-detail-bottom p {
	 margin: 10px 0px;
}
 .payment-box .step-details .step-detail-bottom span {
	 color: #002a71;
}
 .payment-box .step-details .payment-price-box {
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
	 background: #fff;
	 padding: 20px;
}
 .payment-box .step-details .payment-price-box h5 {
	 font-size: 22px;
	 margin-bottom: 20px;
	 color: #002a71;
}
 .payment-box .step-details .payment-price-box ul li {
	 margin: 10px 0px;
	 font-size: 14px;
	 color: #002a71;
}
 .payment-box .step-details .total-price {
	 background: #22c0ff;
	 color: #fff;
	 height: 50px;
	 line-height: 50px;
	 padding-left: 20px;
	 padding-right: 20px;
}
 .payment-box .step-body {
	 max-width: 768px;
	 margin: 0 auto;
}
 .payment-box .step-body #payment-form h5 {
	 color: #002a71;
	 font-size: 20px;
	 font-weight: 500;
	 padding-left: 20px;
	 margin-bottom: 20px;
}
 .payment-box .step-body #payment-form .payment-info {
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
	 background: #fff;
	 padding: 20px;
	 font-size: 14px;
	 color: #4a494a;
}
 .payment-box .step-body #payment-form .payment-info .payment-info-header {
	 font-size: 14px;
}
 .payment-box .step-body #payment-form .payment-info .payment-info-body img {
	 width: 70px;
}
 .payment-box .step-body #payment-form .payment-contact {
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
	 background: #fff;
	 padding: 20px;
	 margin-top: 30px;
}
 .payment-box .step-body #payment-form .input-field input {
	 box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
	 border: none;
	 height: 50px;
	 font-size: 14px;
	 color: #9b9a9b;
	 width: 100%;
	 margin-bottom: 20px;
	 padding-left: 20px;
}
 .payment-box .step-body #payment-form .payment-policy {
	 font-size: 14px;
	 margin: 20px 0px;
}
 .payment-box .step-body #payment-form .payment-policy span {
	 color: #002a71;
}
 .payment-box .step-body #payment-form .submit-payment-btn button {
	 background-image: linear-gradient(90deg, #83d7f9, #8ae9ff, #3c59ff, #3c59ff);
	 border: none;
	 float: right;
	 color: #fff;
	 height: 50px;
	 width: 250px;
}
 .payment-checkbox {
	 display: block;
	 position: relative;
	 padding-left: 35px;
	 cursor: pointer;
	 font-size: 15px;
}
 .payment-checkbox input {
	 position: absolute;
	 opacity: 0;
	 cursor: pointer;
	 height: 0;
	 width: 0;
}
 .payment-checkbox input:checked ~ .checkmark {
	 background-color: #9b9a9b;
}
 .payment-checkbox input:checked ~ .checkmark:after {
	 display: block;
}
 .payment-checkbox .checkmark {
	 position: absolute;
	 top: -3px;
	 left: 0;
	 height: 25px;
	 width: 25px;
	 background-color: #eee;
}
 .payment-checkbox .checkmark:after {
	 content: "";
	 position: absolute;
	 display: none;
	 left: 10px;
	 top: 4px;
	 width: 8px;
	 height: 14px;
	 border: solid #fff;
	 border-width: 0 3px 3px 0;
	 transform: rotate(45deg);
}
 .payment-checkbox:hover input ~ .checkmark {
	 background-color: #ccc;
}
 .payment-radio-btn {
	 display: block;
	 position: relative;
}
 .payment-radio-btn input {
	 position: absolute;
	 opacity: 0;
	 cursor: pointer;
}
 .payment-radio-btn input:checked ~ .checkmark {
	 background-color: #2196f3;
}
 .payment-radio-btn .checkmark {
	 position: absolute;
	 top: 0;
	 left: 50%;
	 transform: translateX(-50%);
	 height: 25px;
	 width: 25px;
	 background-color: #eee;
	 border-radius: 50%;
}
 .payment-radio-btn .checkmark:after {
	 content: "";
	 position: absolute;
	 display: none;
}
 .payment-radio-btn:hover input ~ .checkmark {
	 background-color: #ccc;
}
 .payment-radio-btn.checkmark:after {
	 top: 9px;
	 left: 9px;
	 width: 8px;
	 height: 8px;
	 border-radius: 50%;
	 background: white;
}
 .payment-radio-btninput:checked ~ .checkmark:after {
	 display: block;
}
/* END */

 
/* Responsive Menu */
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #FFF;
    overflow-x: hidden; 
    padding-top: 60px; 
	transition: 0.5s;
	text-align: center
}

.sidenav .side-menu a:not(:first-child) {
    padding: 15px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #172D6F;
    display: block;
	transition: 0.3s;
	font-size: 15px;
	font-weight: 500;
    border-bottom: 2px solid #e6e6e6;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
	color: #172e6f;
}

.sidenav .social-media{
	margin-top: 50px; 
}

.sidenav .social-media ul{
	margin-top: 50px; 
}


.sidenav .social-media ul li{
	display: inline-block;
}

.sidenav .social-media ul li a img{
	width: 40px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


/* Rent Table */
.rent-table-section{
	padding: 40px 0px;
}

.rent-table-header{
	color: #172e6f; 
    margin: 30px 0px;
    font-size: 20px;
    font-weight: 500;
}

.rent-table-items{
	display: flex;
    flex-flow: row wrap;
    position: relative;
}

.rent-table-item{
	display: inline-block; 
    padding: 10px;
    margin-top: 20px;
	background-color: #fff;
	text-align: center;
	margin: 4px;
    flex: 0 1 calc(16%);
	border: 1px solid #172e6f;
}

.rent-table-item strong{
	color: #172e6f;
	font-size: 18px;
}

.rent-table-item hr{
	margin-top: 0;	
	margin-bottom: 10px;
}

.rent-table-item ul li a{
	color: #646464;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 20px;
	display: inline-block;
}

.rent-table-left{
	width: 70%;
	float:left;
	text-align: center;
}

.rent-table-right{
	width: 30%;
	float:right;
}

.rent-table-right .rent-villa-no{
	font-size: 14px;
    color: #646464;
    border: 1px solid #172e6f;
    width: 50%;
    font-weight: 500;
	margin: 0 auto;
}

/* END */

 
/* Stepwizard */
#stepwizard{
	width: 100%;
}

.step-steps{
	display: none !important;
}

.step-app > .step-content{
	border: none !important;
}

.step-app > .step-footer{
	text-align: center;
}

.step-footer button{
    background: #172e6f;
    color: #FFF;
    border: none;
    padding: 5px 30px;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.offer-section{
	padding: 50px;
}

.offer-steps{
	color: #172e6f;
}

.offer-section .next-btn{
    background: #172e6f;
    border-radius: 0;
    color: #FFF;
    width: 100px;
}

.offer-section .prev-btn{
    background: #FFF;
    border: 2px solid #172e6f;
    width: 100px;
	color: #7b7b7b;
	border-radius: 0;
	margin-right: 20px;
}

.offer-steps p{
	margin: 20px 0px;
}

.offer-steps form {
	margin-top: 50px;
}
 
.offer-steps form input{
	width: 350px;
    border: 2px solid #172e6f;
    height: 50px;
    text-align: center;
	background: #FFF;
	margin: 10px;
	cursor: pointer;
}	

.offer-steps form input:hover{
	background: #23c1ff;
	border: none;
	color: #FFF;	
}

.offer-steps ::placeholder{
	color: #172e6f;
}

.offer-steps a{
	background: #172e6f;
    width: 150px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: #FFF;
}

.offer-steps .last-step-text{
	font-weight: 500;
	max-width: 50%;
	margin: 20px auto;
}


/* RESPONSIVE */
@media only screen and (min-width: 992px) and (max-width: 1200px)  {
	.container {
		max-width: 100%;
	}
}

 @media (min-width: 992px) {
	 .villa-info {
		 position: absolute;
		 top: 50%;
		 left: 50%;
		 transform: translate(-50%, -50%);
		 width: 100%;
	}
	#mobile-filter-btn{
		display: none;	
	} 
}

@media screen and (max-width: 992px){
	#desktop-filter{
		display: none;
	}
	.footer-menu{
		margin: 20px 0px;
	}
	.footer .footer-logo{
		text-align: center;
	}
	.main-menu{
		display: none;
	}
	.top-about-box .top-about-inner img{
		width: 150px;
		margin-bottom: 20px;
	}
	.slick-slide img{
		height: auto;
	}
	.product-item-buttons{
		position: initial;
	}
	.product-item-buttons .left-btn{
		display: none;
	}
	.product-item-buttons .right-btn{
		width: 100%;
	}
}

@media screen and (min-width: 768px){   
	.mobile-reservation-scroll{
		display: none;
	}
}

@media screen and (max-width: 768px){   
	.product-small-image,
	.product-big-image{
		display: none;
	}
	.slick-carousel{
		display: block !important;
	}
	.villa-header .villa-image-btn button{
		font-size: 13px;
		width: 120px;
	}
	.responsive-tab .tab-content{
		padding: 20px;
	}
	.column-item img{
		width: 80px;
	}
	.column-item-text{
		font-size: 12px;
	}
	.villa-five-column .column-item{
		margin: 4px;
		flex: 0 1 calc(33% - 8px);
	} 
	.villa-four-column .column-item{
		margin: 4px;
		flex: 0 1 calc(33% - 8px);
	} 
	.footer ul li a{
		font-size: 13px;
	} 
	.newsletter #newsletter-form .newsletter-btn{
		display: block;
		margin: 10px auto;
	}
	#detailSearch input[type="checkbox"] + label{
		width: 49%;
		margin-left: 0;
	}
	.reservation-time,
	.reservation-daily,
	.reservation-monthly{
		display: block;
		width: 100%;
	}
	.searchBox.fixed,
	.make-reservation.fixed{
		position: initial;
	}
}
 
@media screen and (max-width: 576px){
	.responsive-main-menu .right-menu img{
		width: 30px;	
	}
	.product-small-image,
	.product-big-image{
		display: none;
	}
	.comment-list .comment-title{
		text-align: left;
		font-size: 18px;
	}
	.comment-list .comment-desc{
		font-size: 15px; 
	}
	.bottom-about-box .inner-villa-text span{
		float: none;
		text-align: center;
		display: block;
	}
	.all-villa a{
		border: 2px solid #172D6F;
		font-weight: 500;
	}
	.villa-blog-banner,
	.villa-region-banner,
	.villa-about-banner,
	.villa-contact-banner,
	.villa-type-banner {
		height: 150px;
	}
	.villa-blog-banner h1,
	.villa-region-banner h1,
	.villa-about-banner h1,
	.villa-contact-banner h1,
	.villa-type-banner h1{
		font-size: 40px;
	}
	.blog-box-header .float-left,
	.blog-box-header .float-right{
		width: 100%;
		text-align:center;
		margin: 10px auto;
	} 
	.rent-table-item{
		flex: 0 1 calc(100%);
	}
}

@media only screen and (min-width: 576px) and (max-width: 992px)  {
	.villa-five-column .column-item{
		margin: 4px;
		flex: 0 1 calc(25% - 8px);
	}
	.rent-table-item{
		flex: 0 1 calc(50% - 8px);
	}
} 

@media only screen and (max-width: 576px){ 
	.villa-top-header {
		padding: 0;
	}
	.rent-table-item{
		flex: 0 1 calc(100%);
	}
	.responsive-tab{
		display: none;
	}
	.villa-blog-banner,
	.villa-region-banner,
	.villa-about-banner,
	.villa-contact-banner,
	.villa-type-banner,
	.villa-blog-banner{
		height: 150px;
	}
	.villa-top-header h1,
	.villa-region-banner h1,
	.villa-about-banner h1,
	.villa-contact-banner h1,
	.villa-type-banner h1
	.villa-blog-banner h1{
		font-size: 40px;
	}
	.blog-post-item .blog-post-header .blog-post-name{
		width: 160px;
		font-size: 14px;
	}
	.blog-post-item .blog-post-header .blog-post-date{
		font-size: 12px;
		font-weight: 500
	}
	.blog-post-item .blog-post-body{
		font-size: 13px;
		padding: 20px;
	}
	.bottom-about-box .about-site-name{
		text-align: center;
	}
	.blog-post-item{
		margin: 30px 0px;
	}
	.blog-text .inner-blog-text{
		padding: 20px;
	} 
	.blog-text .inner-blog-text .blog-text-desc{
		font-size: 15px;
	}
	.blog-text .blog-box-left{
		padding: 0;
		text-align: center;
		width: 100%;	
	}
	.blog-text .blog-box-right{
		text-align: center;
		margin-top: 10px;
	}
	.blog-text-header{
		padding: 10px;
		font-size: 15px;
	}
	.contact-box .inner-about-box{
		padding: 20px;
	}
} 

@media only screen and (min-width: 576px){
	.mobil-region-tab,
	.mobil-type-tab{
		display: none;
	}
	.modal-dialog {
		max-width: 992px;
	} 
} 
 
@media only screen and (min-width: 992px) and (max-width: 1200px)  { 
	.hidden-photo-gallery{
		display: block;
	}
	.product-item-icons li{
		font-size: 10px;
	}
	.product-item-icons li img{
		width: 20px;
	}
	.product-item-buttons .right-btn{
		font-size: 13px;
		font-weight: 500;
	}
}

@media only screen and (min-width: 1200px){
	.hidden-photo-gallery{
		display: none;
	}
}

@media only screen and (max-width: 1200px){
	.photo-gallery{
		display: none;
	}
	.product-filter-option a{
		font-size: 12px;
	}
}

@media only screen and (max-width: 1200px) {
	.reservation-left-box{
		width: 90%;
		margin: 0 auto;
	}
	.reservation-right-box{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	.make-reservation.fixed{
		position: initial;
		width: 100%;
		margin: 20px 0px;
	}
}


